{% extends 'base.html' %}

{% block content %}

<div class="about-container">
    
    <div class="about-text">
        <p>Welcome to My Django E-commerce Website, your number one source for all devices. I am dedicated to giving you the very best of tech products, with a focus on quality, customer service, and uniqueness.</p>
        <p>This is my personal project created to exercise my skills with Django and other technologies. Through this project, I aim to enhance my proficiency in web development and showcase my ability to build functional and visually appealing web applications.</p>
        <p>I hope you enjoy my products as much as I enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact me.</p>
        <p class="author-signature">Maxim Vassilev</p>
    </div>

</div>

{% endblock %}
