{% extends 'base.html' %}


{% block content %}


<main>

    <ul class="categories">
        <li><a href="{% url 'home' %}">All</a></li>
        <li><a href="{% url 'category' 'Gaming-Console' %}">Gaming Console</a></li>
        <li><a href="{% url 'category' 'Mouse' %}">Mouse</a></li>
        <li><a href="{% url 'category' 'Headphones' %}">Headphones</a></li>
        <li><a href="{% url 'category' 'Laptop' %}">Laptop</a></li>
        <li><a href="{% url 'category' 'Cell-Phone' %}">Cell Phone</a></li>
    </ul>

    <div class="container">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image" />
                <h5 class="product-name">{{ product.name }}</h5>
                <p class="product-price">
                    {% if product.is_sale %}
                        <strike>${{ product.price }}</strike> ${{ product.sale_price }}
                    {% else %}
                        ${{ product.price }}
                    {% endif %}
                </p>
                <a href="{% url 'product' product.id %}" class="add-to-cart-btn">See more</a>
            </div>
        {% endfor %}
    </div>
    
    </div>

</main>
        
{% endblock %}