<header>
    <img src="https://ci3.googleusercontent.com/meips/ADKq_NaSEUtUWp9NeBzHmFesgmNozfLZWTYyhCX7Crjb2JivDUs5ITWwxMFAvXgZwdmCMEtyEcTGxFzx0MR0pR1SYczCoExHA1kltqCVlqWKD4U1azZiEnMKSOJCjyefRX1G-zUKYq_AcCdnLG8blRtj2c7exdt3BqgGT3fVT8ev2BuoElZemal9NxvKevIOXp4Hr126ABxt3AQdetIkCDsd0KgeGw=s0-d-e1-ft#https://dynamic.design.com/preview/logodraft/93cb245e-c2a8-478b-b67d-daaf179c32a6/image/large.png?bust=c494d5b2-7982-4e61-9838-57c122e06ed8" alt="">
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> &nbsp;Logout</a>
        {% else %}
            <a href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> &nbsp;Login</a>
            <a href="{% url 'register' %}"><i class="fa-solid fa-id-card"></i> &nbsp;Register</a>
        {% endif %}        
        
        <a href="{% url 'cart_summary' %}"><i class="fa-solid fa-cart-shopping"></i> &nbsp;Cart</a>
        <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></i> &nbsp;Home</a>

    </nav>

</header>

